
div.container > div.container
{
    box-sizing: border-box;
    width: 100%;
    align-content: stretch;
}

fieldset
{
    width: 20vw;
    height: 100%;
}

legend
{
    border: white solid 1px;
    color: white;
    font-size: 2vw;
}

label
{
    color: white;
    font-size: 1.5vw;

}

.item > input, .item > textarea
{
    font-size: 1vw;
    width: calc(1vw + 8rem);
    height: 50%;

    margin-left: 1%;
}

.item
{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


label > p
{
}


input, textarea {

}
