body, html
{
  background-color: #888888;
  color: whitesmoke;
  margin: 0;
  height: 100%;
}

.grid
{
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto  auto ;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto ;
}

header
{

  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 11;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #c73030;
  padding: 10px;
}

header > div, footer > div
{
  font-size: calc(1vw + 1vh);
  width: 100%;
  height: 100%;
}

header > div.container > *:not(:last-child)
{
  padding: 0 10px 0 0;
}

#logo
{
  width: calc(7vw + 3vh);
  height: auto;
}

aside
{

 display: grid;
 grid-row-start: 3;
 grid-row-end: 9;
 grid-column-start: 8;
 grid-column-end: 11;

 background-color: #3a3a3a;
}

main
{

  grid-row-start: 3;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 8;

  background-color: #292929;
}

#main
{
}

footer
{
  grid-row-start: 9;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 11;
  height: 100%;

  div
  {
    height: 100%;
  background-color: rebeccapurple;
  }
}

.container
{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.flex_col
{
  flex-direction: column;
  width: auto;
  height: 100%;
}
.flex_row
{
  flex-direction: row;
  height: auto;
  width: 100%;
}

.space_between
{
justify-content: space-between;
}

.flexstart
{
  justify-content: flex-start;
}

header > div
{
  width: 50%;
}

header > div > label > input
{
  margin: 15px;
  height: calc(1.5vw + 1vh);
}

main > div.container
{
 align-items: start;
}
main > div.container > div.container
{
  width: 80.8%;
  height: 100%;
}

.box, .mainbox, .asidebox, .footerbox
{
  margin: 5px 5px 5px 5px;

}

.fillit
{
  width: 150px;
  height: 150px;
}

.fillheight
{
  height: 100%;
}

.mainbox
{
  width: 300px;
  height: 100px;
}

.mainbox>div:hover
{
  background-color: #3a3a3a;
}
.mainbox > div
{
  background-color: #888888;
  height: 100%;
  width: 100%;
}
.mainbox > div > p
{
  margin: 0;
  text-align: center;
}

.asidebox
{
  width: 200px;
  height: auto;
}

aside > div > .asidebox:last-child
{
  text-align: left;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

.asidebox > div
{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.asidebox > div > img + p
{
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.2vw;
  background: rgba(0, 0, 0, 0.7);
}
.asidebox >  p
{
  margin: 0;
  overflow-wrap: break-word;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.footerbox
{
  height: 50px;
}

.footerbox > *
{
}

.boxbig
{
  width: 90%;
  height: calc(10vw + 20vh);
}

.login
{
  border: 1px solid black;
  background-color: #932323;
  width: calc(5vw + 3vh);
  text-align: center;
  color: whitesmoke;
  padding: 0;
}

.flexText
{
  font-size: calc(1vw + 1vh);
  width: 100%;
  height: 100%;
  text-wrap: wrap;
  overflow-wrap: break-word;
}
/* hoverable */
.hoverable:hover
{
  scale: 110%;
}
/* links */
a {text-decoration: none}
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color: #3a3a3a; }
a:focus { text-decoration: none; color:yellow; }
/* a:hover, a:active { text-decoration: none; color:black } */

.center_div
{
  margin: auto auto auto auto;
}

.center_text
{
  text-align: center;
  div > p
  {
  height: 100%;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* rating system */
input[name="star"] {
  display: none;
}

label {
  font-size: 30px;
}

input:checked ~ label {
  color: rgb(230, 230, 0);
}

.ratingbox *
{
  float: right;
}


.imginbox
{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.background
{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foreground
{
  backdrop-filter: blur(20px);
  height: 100%;
  width: 100%;
}

.asidebox>p
{
  text-overflow: fade;
  overflow-wrap: break-word;
  overflow-y: clip;

}
/* SHOW SELECTED SLIDE ONLY */
.slides input[type="radio"]
{
  display: none;
}
.slides > div {
  height: 100%;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.slides input[type="radio"]:checked + div{
  visibility: visible;
  opacity: 1;
}

/* SLIDES WRAPPER & SHARED */
.slides, .slides > div{
  position: relative;
  height: inherit;
  width: 100%;
}
.slides > div ,.slides p, .slides label {
  position: absolute;
}
.slides  label, .slides p {
  color: #fff;
/*  background: rgba(0, 0, 0, 0.7); */
}

.slides p
{
  background: rgba(0, 0, 0, 0.7);
}

/* SLIDE IMAGES */
.slides > div img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* SLIDE CAPTION */
.slides p {
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 4vw;
}

/* LAST & NEXT BUTTONS */
.slides label {
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  font-size: 2.5vw;
  cursor: pointer;
}
.slides label.last { left: 10px; }
.slides label.next { right: 10px; }


/* background of first slide */
#slide1 + div > div
{
  background-image: url("../imgs/movies/allesstehtkopf1/allesstehtkopf1banner.jpg");
}
/* background of second slide */
#slide2 + div > div
{
  background-image: url("../imgs/movies/allesstehtkopf2/allesstehtkopf2banner.jpg");
}
/* background of third slide */
#slide3 + div > div
{
  background-image: url("../imgs/movies/barbie/bg.jpg");
}

.asidebox > div
{
  background-image: url("../imgs/movies/deadpoolandwolverine/deadpoolandwolverine.jpg");
  img {
    object-fit: contain;
  }
}

div.mainbox > div > p
{
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: calc(1vw + 1vh);
  position: relative;
  justify-content: space-between;
  margin: 0 5% 0 0;
}

.icon
{
  margin: 0 5% 0 5%;
  width: 20%;
  height: auto;
  float: left;
}

@media only screen and (max-width: 976px)
{

  main
  {

    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 11;

    background-color: #292929;
  }

  aside
  {

    display: grid;
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 11;

    background-color: #3a3a3a;
  }

  footer
  {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 11;
    height: 100%;
  }

  #aside_imagecover
  {
    width: 50%
  }
  .asidebox
  {
    width: 99%;
  }

  .asidebox>p
  {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  aside > div > .asidebox:last-child
  {
    text-align: justify;
  }
}