body, html
{
    height: 100%;
    width: 100%;
    background-color: #292929;
}

main
{
    grid-row-start: 3;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 11;

    background-color: #292929;
}

body > div
{
    margin: 1%;
}

main > div.container > div > div
{
    height: 10vw;
}

.box
{
    background-color: #3a3a3a;
    margin: 2.5% 0 2.5% 0;
    padding: 1% 1% 0 1%;
    width: 100%;
}

img
{
    margin: 0 5% 1% 1%;
    border: 1px solid white;
    width: 10vw;
    height: 10vw;
    float: left;
    object-fit: cover;
}

img:current > p.flexText
{

}


p.flexText {
    margin: 0;
    text-overflow: fade;
    overflow-wrap: break-word;
    overflow-y: scroll;
    font-size: calc(1vw + 1vh);
    margin-bottom: 1%;
}